@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
	height: 100vh;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

	--bg-00: #1C1B22;
	--bg-01: #23222B;
	--fg-00: #FFFFFF;

	--border-radius: 0.25rem;
	background-color: var(--bg-00);
	color: var(--fg-00);
}

:root[data-theme="light"] {
	--bg-00: #F4F4F4;
	--bg-01: #FAFAFC;
	--bg-02: #FFFFFF;
	--fg-00: #1C1B22;
	--fg-01: #7e7e7e;
	--fg-02: #c2c2c2;
	--fg-03: #EAEAEA;
	--red: #eb4e4e;
	--gold: #FBB600;
	--accent-00: teal;
	--shadow: 0 0 0.3rem #0004;
}

body {
	font-size: 1.6rem;
	height: 100vh;
	overflow: hidden;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-rows: 10rem 1fr;
}

main {
	max-height: 100%;
	overflow-y: auto;
	scroll-behavior: smooth;
}

textarea {
	background-color: inherit;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	resize: vertical;
}

.btn-primary {
	--trans: 0.1s ease-in-out;
	cursor: pointer;
	border: solid 0.2rem;
	padding-block: 1rem;
	background-color: transparent;
	border-color: var(--accent-00);
	border-radius: var(--border-radius);
	width: 20rem;
	color: var(--accent-00);
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
	font-weight: bold;
	transition: background-color var(--trans), color var(--trans);
	margin-top: 1rem;
	text-decoration: none;
}

.btn-primary:hover {
	background-color: var(--accent-00);
	color: var(--bg-01);
}

.page {
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}