.ellipse-overflow {
	box-orient: vertical;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	text-overflow: ellipsis;
	overflow: hidden;
}

@media (min-width: 760px) {
	.show-at-medium {
		display: none !important;
	}
}


@media (max-width: 760px) {
	.revert-grid-at-medium {
		grid-template-columns: 1fr !important;
	}

	.hide-at-medium {
		display: none !important;
	}
}

@media (min-width: 480px) {
	.show-at-small {
		display: none !important;
	}
}

@media (max-width: 480px) {
	.revert-grid-at-small {
		grid-template-columns: 1fr !important;
	}

	.hide-at-small {
		display: none !important;
	}
}