@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

*::selection {
	background-color: var(--accent-00);
	color: var(--bg-01);
}

:root {
	font-size: 62.5%;
	height: 100vh;
	/* font-family: Verdana, Geneva, Tahoma, sans-serif; */
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

	--bg-00: #1C1B22;
	--bg-01: #23222B;
	--fg-00: #FFFFFF;

	--gold: #FBB600;
	--trans: 0.1s ease-in-out;
	--border-radius: 0.25rem;
	background-color: var(--bg-00);
	user-select: var(--accent-00);
	color: var(--fg-00);
}

:root[data-theme="light"] {
	--bg-00: #F4F4F4;
	--bg-01: #FAFAFC;
	--bg-02: #FFFFFF;
	--fg-00: #1C1B22;
	--fg-01: #7e7e7e;
	--fg-02: #c2c2c2;
	--fg-03: #EAEAEA;
	--red: #eb4e4e;
	--accent-00: teal;
	--shadow: 0 0 0.3rem #0004;
}

body {
	font-size: 1.6rem;
	height: 100vh;
	overflow: hidden;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-rows: 10rem 1fr;
}

input {
	background-color: inherit;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	border: solid 1px var(--fg-00);
	border-radius: var(--border-radius);
	user-select: inherit;
}

textarea {
	background-color: inherit;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	resize: vertical;
}

.btn-primary {
	cursor: pointer;
	border: solid 0.2rem;
	padding-block: 1rem;
	background-color: transparent;
	border-color: var(--accent-00);
	border-radius: var(--border-radius);
	width: 20rem;
	color: var(--accent-00);
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
	font-weight: bold;
	transition: background-color var(--trans), color var(--trans);
	margin-top: 1rem;
	text-decoration: none;
}

.btn-primary:hover {
	background-color: var(--accent-00);
	color: var(--bg-01);
}

.page {
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.card {
	background-color: var(--bg-01);
	box-shadow: var(--shadow);
	border-radius: var(--border-radius);
	padding: 1.5rem;
}

.loading-container {
	display: grid;
	place-items: center;
	height: 80vh;
	color: var(--accent-00);
}

.loading-container svg {
	width: 80%;
}

.products {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
}

.page-label {
	margin-block: 0 1rem;
	text-align: center;
}

.aside-menu {
	@extend .card;
	padding: 2.5rem;
}